@font-face {
  font-family: "Roboto-Regular";
  src: url(./fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto-Medium";
  src: url(./fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: "Roboto-Bold";
  src: url(./fonts/Roboto-Bold.ttf);
}

/* RESET CSS */
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  --blue: rgb(58,117,176);
  --blue-link: rgb(0,107,143);
  --dark-orange: rgb(231,130,0);
  --green: rgb(25,135,84);
  --light-blue: rgb(217,229,234);
  --light-grey: rgb(238,238,238);
  --light-yellow: rgb(255,255,206);
  --orange: rgb(240,192,0);
  --white: rgb(255,255,255);
}
body{
  min-width: 430px;
  min-height: 100vh;
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
}
body a {
  text-decoration: none;
  color: var(--blue-link);
  cursor: pointer;
}



/* ***** HEADER ***** */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--blue);
  padding: 1rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 770px) {
  header {
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    /* justify-content: flex-start; */
    justify-content: flex-start;
    padding: 0.5rem;
  }
}


/* Burger Menu */
.burger-menu {
  position: absolute;
  right: 25px;
  top: 30px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: var(--blue);
  cursor: pointer;
}
.container-lines {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
}
.line {
  position: absolute;
  border-radius: 10px;
  width: 30px;
  height: 2px;
  background: black;
}
.burger-menu .line:nth-child(1) {
  top: 4px;
}
.burger-menu .line:nth-child(2) {
  top: 14px;
}
.burger-menu .line:nth-child(3) {
  top:24px;
}
@media screen and (min-width: 770px) {
  .burger-menu {
    display: none;
  }
}
/* end Burger Menu */

.brand-container {
  width: 125px;
  display: inline-block;
  text-align: center;
  margin-right: 1.5rem;
  
}
.brand {
  width: 100px;
}
@media screen and (min-width: 770px) {
  .brand {
    flex-basis: 10%;
  }
}
.nav-link-list {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-top: 2rem;
}
@media screen and (min-width: 770px) {
  .nav-link-list {
    flex-direction: row;
    align-items: center;
    width: 60%;
    margin: 0;
  }
}
.nav-link-item {
  list-style-type: none;
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
}
@media screen and (min-width: 770px) {
  .nav-link-item {
    margin-bottom: 0;
    margin-right: 2rem;
  }
}
.nav-link-item a {
  text-decoration: none;  
  color: var(--white);
  font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
  transition-property: color;
  transition-duration: 0.3s;
}
.nav-link-item a:hover {
  color: var(--dark-orange);
}
.input-container{
  flex-grow: 3;
  display: flex;
  justify-content: flex-end;
}
.nav-input {
  display: block;
  width: 150px;
  height: 28px;
  align-self: end;
  margin-right: 1rem;
  border: none;
  outline: none;
  border-radius: 0 3px 3px 0;
}
@media screen and (min-width: 770px) {
  .nav-input {
    align-self: center;
  }
}
.input-container::before {
  display: flex;
  width: 2rem;
  content: url("./images/loupe.png");
  background-color: var(--white);
  padding: 0 .03rem;
  justify-content: center; 
  border-radius: 3px 0 0 3px ;
}


/* ***** MAIN ***** */
.main-container {
  max-width: 90%;
  margin: auto;
}
@media screen and (min-width: 770px) {
  .main-container {
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  .main-container {
    display: flex;
    max-width: 65%;
  }
}

/* Aside */
.aside-container {
  padding: 1rem;
}
@media screen and (min-width: 770px){
  .aside-container {
    padding: 0;
    padding-right: 1.4rem;
    margin-top: 0.5rem;
    text-wrap: nowrap;
    display: flex;
    flex-direction: column;
  }
}
.aside-title {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.aside-link-list {
  list-style-type: none;
}
@media screen and (min-width: 770px){
  .wrap {
    text-wrap: wrap;
  }  
}
.aside-list-item {
  margin-bottom: 0.5rem;
}
.aside-list-item a {
  color: var(--blue-link);
}
/* End Aside */

/* Section content */
.main-title-container {
  padding-bottom: 1.5rem;
}
.main-title-container .main-title {
  font-family: "Roboto-Bold";
  margin-bottom: 0.5rem;
}
.main-title-container .version {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.licence-infos-container{
  background-color: var(--light-yellow);
  border: 1px solid var(--orange);
  padding: 2rem;
  margin-bottom: 1.5rem;
}
.licence-info-subtitle {
  font-weight: bold;
  margin: 0.5rem 0;
}
.licence-info-txt{
  margin-bottom: 1.5rem;
}

.download-container {
  background-color: var(--light-blue);
  padding: 2rem 4rem 3.5rem 4rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 770px) {
  .download-container {
  padding: 2rem 6rem 3.5rem 6rem;
  text-align: center;
  }  
}
.download-container input {
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--green);
  height: 2.5rem;
  width: 250px;
  border: none;
  border-radius: 5px;
  color: var(--light-blue);
  margin: 0 0.5rem;
}
.download-txt {
  margin-top: 1.5rem;
  text-align: center;
}

.reboot-message {
  display: flex;
  margin-bottom: 1.5rem;
}
.reboot-message img {
  height: 24px;
  float: left;
  margin: 0 1.2rem 1.2rem 0
}

.faq-config {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

/* ***** FOOTER ***** */
.footer-container {
  background-color: var(--light-grey);
  margin-top: 2.5rem;
  padding: 1.5rem 2rem 2rem 2rem;
  text-align: center;
  font-size: 0.8rem;
}
@media screen and (min-width: 1024px){
  .footer-container {
    display: flex;
    justify-content: center;
  }  
}
.copyright {
  margin-bottom: 0.8rem;
}
@media screen and (min-width: 1024px){
  .copyright {
    margin-right: 0.8rem;
  }  
}
.footer-container span {
  margin-right: 0.8rem;
  text-wrap: nowrap;
}

